<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 和绑定的接口全类名对应 -->
<mapper namespace="com.clive.mapper.StudentMapper">
	<!-- 
		id和接口的方法名对应
		resultType:返回结果集 
		要mybatis自动帮你吧查询得到的数据装好 的前提是
		mysql中的字段的名称和java中类的属性名称全部一样数据类型一样 他就会自动装好
		这个叫做自动装配 
	 -->
	<select id="findStudentAll" resultType="com.clive.bean.Student" >
		SELECT * FROM student
	</select>



</mapper>
